* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
}

.my_card{
    background-color: #F7F7FF;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    font-family: sans-serif;
}

.box > *{
    text-align: center;
    margin-bottom: 20px;
}

.main_box{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #C4C7F2;
}

.main_header{
    display: flex;
    margin-top: 40px;
}

.main_header article{
    flex-grow: 1;
    margin: auto;
    text-align: center;
}

article > *{
    margin-bottom: 20px;
}

.BC_blue{
    background-color:#7A7EE3;
    border-radius: 10px;
    padding: 40px 30px;
    color: white;
}

.art_list{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: #8F8E98;
}

.btn{
    padding: 8px;
    border: 1px solid #DADBE4;
    border-radius: 5px;
    width: 100%;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    color: #9B9EED;
    font-size: 8px;
    background-color: white;
}

.herders{
    font-weight: 700;
}

.btn:hover{
    background-color: chocolate;
}

div{
    font-size: 12px;
}

.text_col{
    color: #787B8D;
}

.bor{
    border-top: 1px #e1e3f0 solid;
    padding-top: 10px;
}

.blue_btn{
    background-color: transparent;
    color: white;
}

.bottom{
    border-bottom: 1px #e1e3f0 solid;
    padding-bottom: 10px;
}

span{
    font-size: 40px;
    font-weight: 600;
}

h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    align-content: center;
}